<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="46436StefanPodskubka.RemoteTerminal" Publisher="CN=46536A2F-5D79-4B8A-8099-26E3FCC16743" Version="1.1.1.7" />
  <Properties>
    <DisplayName>Remote Terminal</DisplayName>
    <PublisherDisplayName>Stefan Podskubka</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="RemoteTerminal.App">
      <VisualElements DisplayName="Remote Terminal" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Remote Terminal - SSH and Telnet client" ForegroundText="light" BackgroundColor="#001E4E">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#001E4E" />
        <InitialRotationPreference>
          <Rotation Preference="portrait" />
          <Rotation Preference="landscape" />
          <Rotation Preference="portraitFlipped" />
          <Rotation Preference="landscapeFlipped" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="privateNetworkClientServer" />
    <Capability Name="internetClient" />
  </Capabilities>
</Package>